url: dtpropertyinvestments.co.uk
baseurl:

# Site settings
title: D&T Property Investments
email: darren@dtpropertyinvestments.co.uk
description: "Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description."


# Team names, titles and social links
people:
- name: Kay Garland
  pic: 1
  position: Lead Designer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: stack-overflow
      url: #

- name: Larry Parker
  pic: 2
  position: Lead Marketer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: linkedin
      url: #

- name: Diana Petersen
  pic: 3
  position: Lead Developer
  social:
    - title: twitter
      url: #
    - title: facebook
      url: #
    - title: google-plus
      url: #

# Postal address (add as many lines as necessary)
address:
  - line: 38 Lakeside Gardens
  - line: Farnborough, Hampshire, GU14 9JG

# Build settings
markdown: kramdown
permalink: pretty