 <!-- Properties Modals -->
 {% for post in site.posts %}
    <div class="properties-modal modal fade" id="propertiesModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/properties/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <h3>Highlights</h3>
                            <table class="highlights">
                                <tr><td><strong>Date Available:</strong></td><td>{{ post.date-available }}</td></tr>
                                <tr><td><strong>Furnishings:</strong></td><td>{{ post.furnishings }}</td></tr>
                                <tr><td><strong>Bedrooms:</strong></td><td>{{ post.bedrooms }}</td></tr>
                                <tr><td><strong>Bathrooms:</strong></td><td>{{ post.bathrooms }}</td></tr>
                                <tr><td><strong>Kitchen:</strong></td><td>{{ post.kitchen }}</td></tr>
                                <tr><td><strong>Parking:</strong></td><td>{{ post.parking }}</td></tr>
                                <tr><td><strong>Outside:</strong></td><td>{{ post.outside }}</td></tr>
                                <tr><td><strong>Location:</strong></td><td>{{ post.location }}</td></tr>
                                <tr><td><strong>Rent:</strong></td><td>{{ post.rent }}</td></tr>
                            </table>
                            <h3>Full Description</h3>
                            <p>{{ post.description }}</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
